{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="section">
        <div class="title">Rising Posts</div>
        <div class="columns is-multiline">
            {% for post in latest_posts %}
                <div class="column is-4">
                    <a href = "{% url 'details' post.link %}">
                    <div class="card large">
                        <div class="card-image">
                            <figure class="image is-16by9">
                                <img src="{{ post.images.url }}" alt="Image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-left">
                                    <a href="{% url 'chat' post.freelancer.user_id.id %}">
                                        <figure class="image is-32x32">
                                            <img src="{{ post.freelancer.user_id.profile_image.url }}" alt="Profile Image">
                                        </figure>
                                    </a>
                                </div>
                                <div class="media-content">
                                    <a href="{% url 'chat' post.freelancer.user_id.id %}">
                                        {{ post.freelancer.user_id.username }}
                                    </a>
                                </div>
                            </div>
                            <div class="content">
                                <p class="title is-4 no-padding">{{ post.name }}</p>
                                <p>{{ post.description }}</p>
                            </div>
                            <div class="content">
                                <strong class="strong">Amount: ${{ post.amount }}</strong>
                            </div>
                        </div>
                    </div>
                </a>
                </div>
            {% endfor %}
        </div>
    </div>

    

    <div class="section">
        <div class="title">Grossing Posts</div>
        <div class="columns is-multiline">
            {% for post in grossing_posts %}
                <div class="column is-4">
                    <a href = "{% url 'details' post.link %}">
                    <div class="card large">
                        <div class="card-image">
                            <figure class="image is-16by9">
                                <img src="{{ post.images.url }}" alt="Image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-left">
                                    <a href="{% url 'chat' post.freelancer.user_id.id %}">
                                        <figure class="image is-32x32">
                                            <img src="{{ post.freelancer.user_id.profile_image.url }}" alt="Profile Image">
                                        </figure>
                                    </a>
                                </div>
                                <div class="media-content">
                                    <a href="{% url 'chat' post.freelancer.user_id.id %}">
                                        {{ post.freelancer.user_id.username }}
                                    </a>
                                </div>
                            </div>
                            <div class = "content">
                                <p class="title is-4 no-padding">{{ post.name }}</p>
                                <p>{{ post.description }}</p>
                            </div>
                            <div class="content">
                                <strong class="strong">Amount: ${{ post.amount }}</strong>
                            </div>
                        </div>
                    </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="section">
        <div class="title">Top Posts</div>
        <div class="columns is-multiline">
            {% for post in top_posts %}
                <div class="column is-4">
                    <a href = "{% url 'details' post.link %}">
                    <div class="card large">
                        <div class="card-image">
                            <figure class="image is-16by9">
                                <img src="{{ post.images.url }}" alt="Image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-left">
                                    <a href="{% url 'chat' post.freelancer.user_id.id %}">
                                        <figure class="image is-32x32">
                                            <img src="{{ post.freelancer.user_id.profile_image.url }}" alt="Profile Image">
                                        </figure>
                                    </a>
                                </div>
                                <div class="media-content">
                                    <a href="{% url 'chat' post.freelancer.user_id.id %}">
                                        {{ post.freelancer.user_id.username }}
                                    </a>
                                </div>
                            </div>
                            <div class="content">
                                <p class="title is-4 no-padding">{{ post.name }}</p>
                                <p>{{ post.description }}</p>
                            </div>
                            <div class="content">
                                <strong class="strong">Amount: ${{ post.amount }}</strong>
                            </div>
                        </div>
                    </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
