<html>
<head>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
        function clearText() {
            $('#result').html("");
            $('#floatingTextarea').val("");
        }

        function evaluateText() {
            let data = document.getElementById('floatingTextarea').value;
            var dict = {username : "username" , password:"password"};
            $.ajax({
                type: 'GET',
                url: '/text/evaluate',
                data: {usertext: data},
                contentType: 'application/json;charset=UTF-8',
                success: function(response){
                    // fill with html
                    $('#result').html(response);

                },
                error: function(error) {
                     console.log(error);
                }
            });
        }
    </script>
<nav class="navbar navbar-expand-lg bg-body-tertiary">

  <div class="container-fluid">
    <a class="navbar-brand" href="/">Critique Analyzer</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/text">Text</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/file">File</a>
        </li>
      </ul>

    </div>
  </div>
</nav>
<div class="container">
    <form>
    <textarea class="form-control" placeholder="Write sentence to evaluate here" id="floatingTextarea" name="floatingTextarea" rows="10"></textarea>
    <button type="button" class="btn btn-primary my-3" onclick="evaluateText()">Evaluate Text</button>
        <button type="button" class="btn btn-primary my-3" onclick="clearText()">Clear</button>
    <br/><br/>
    </form>
    <b> Result </b>
    <div id="result"></div>
</li>

</div>
</body>
</html>