{% load static %}

{% block body %}

{% include 'recruiter_navigation.html' %}


<marquee style ="font-family: Monotype Corsiva; font-size: 25px; color:white;background-color: black; font-weight: bold; margin-top: 1%; ">
    Add Job Details
</marquee>
<hr>
<form class="container mt-5" onsubmit="return checkpass();" name="signup" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="form-row">
        <div class="form-group col-md-12">
            <label>Job Title</label>
            <input type="text" class="form-control" name="jobtitle" placeholder="Enter Job Title" required>
        </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Start Date</label>
            <input type="Date" class="form-control" name="startdate" required>
        </div>
        <div class="form-group col-md-6">
            <label>End Date</label>
            <input type="Date" class="form-control" name="enddate" required>
    </div>


    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Salary(Per Month)</label>
            <input type="text" class="form-control" name="salary" required>
        </div>

        <div class="form-group col-md-6">
            <label>Company Logo</label>
            <input type="file" class="form-control" name="logo" required>
    </div>


        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Experience(In Years)</label>
                <input type="text" class="form-control" name="experience" required>
    </div>

        <div class="form-group col-md-6">
            <label>Company Location</label>
            <input type="text" class="form-control" name="location" required>
    </div>
    
    <div class="form-row">
        <div class="form-group col-md-12">
            <label>Skills</label>
            <input type="text" class="form-control" name="skills" required>
</div>

<div class="form-row">
    <div class="form-group col-md-12">
        <label>Description</label>
        <textarea class="form-control" name="Description" required></textarea>
</div>

    <input type="submit" value="Submit" class="btn btn-primary my-1" style="width: 200px">
</form>

{% include 'footer.html' %}

{% if error == "no" %}
<script>
    alert("Job detail has been added");
    window.location = ('{% url "job_list" %}')
</script>
{% endif %}

{% if error == "yes" %}
<script>
    alert("Something went wrong. Please try again...");
</script>
{% endif %}

{% endblock %}