{% load static %}

{% block body %}

{% include 'recruiter_navigation.html' %}
<style>
tr{text-align : center}
</style>
<marquee style ="font-family: Monotype Corsiva; font-size: 25px; color:white;background-color: black; font-weight: bold; margin-top: 1%; ">
    Applied Candidate List
</marquee>
<hr>
<div class="container ">
<table class="table table-hover" id="example">
    <thead>
        <tr style="background-color: #DEB887">
            <th>S.No</th>
            <th>Full Name</th>
            <th>Email ID</th>
            <th>Contact No.</th>
            <th>Job Title</th>
            <th>Company</th>
            <th>ApplyDate</th>
            <th>Resume</th>
        </tr>
    </thead>

    <tbody>
        {% for i in data %} 
        {% with user_id=request.user.id recruiter_user_id=i.job.recruiter.user.id %}
        {% if user_id == recruiter_user_id %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.student.user.first_name}} {{i.student.user.last_name}}</td>
            <td>{{i.student.user.username}}</td>
            <td>{{i.student.mobile}}</td>
            <td>{{i.job.title}}</td>
            <td>{{i.job.recruiter.company}}</td>
            <td>{{i.applydate}}</td>
            <td><a href="{{i.resume.url}}">Download Resume</a></td>
        </tr>
        {% endif %}
        {% endwith %}
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}