{% load static %}

{% block body %}

{% include 'user_navigation.html' %}


<style>
tr{text-align : center}
</style>
<marquee style ="font-family: Monotype Corsiva; font-size: 25px; color:white;background-color: black; font-weight: bold; margin-top: 1%; ">
    Apply for Job
</marquee>
<hr>
<div class="container shadow-lg py-2 mb-2">
   <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-row">
        <label class="font-weight-bold">Upload Resume</label>
        <input type="file" class="form-control" name="resume">
    </div>
    <input type="submit" value="Submit" class="btn btn-danger mt-3">
   </form>
</div>

{% if error == "close" %}
<script>
    alert("Application line are close , last date is over");
    window.location = ('{% url "user_latestjobs" %}')
</script>
{% endif %}

{% if error == "notopen" %}
<script>
    alert("Application line is not opened");
    window.location = ('{% url "user_latestjobs" %}')
</script>
{% endif %}

{% if error == "done" %}
<script>
    alert("Job Application submitted successfully");
    window.location = ('{% url "user_latestjobs" %}')
</script>
{% endif %}


{% endblock %}