{% load static %}

{% block body %}

{% include 'admin_navigation.html' %}

<marquee style ="font-family: Monotype Corsiva; font-size: 25px; color:white;background-color: black; font-weight: bold; margin-top: 1%; ">
    View Recruiters - Pending
</marquee>
<hr>
<form class="container mt-5" method="post">
    {% csrf_token %}
    <label><b>Recruiter Name</b></label>
    <input type="text" class="form-control" name="uname" value="{{recruiter.user.first_name}} {{recruiter.user.last_name}}">

    <label><b>Status</b></label>
    <select class="form-control" name="status">
        <option value="Accept">Accept</option>
        <option value="Reject">Reject</option>
        </select>

    <input type="submit" class="btn btn-primary" style="margin-top: 2%; color:wheat; background-color:black">
</form>
{% if error == "no" %}
<script>
    alert("Status Changed Successfully");
    window.location = ('{% url "recruiter_all" %}')
</script>
{% endif %}

{% if error == "yes" %}
<script>
    alert("Something went wrong. Please try again");
</script>
{% endif %}

{% endblock %}