*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.745),rgba(0, 0, 0, 0.984)),url(images/background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-items: space-between;
    align-items: center;
}
nav img.nav-img{
    width: 120px;
    position: absolute;
  top: 0;
  left: 0;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #fff;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color:#fff;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 34px;
    color: #fff;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 15px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: lpx solid #f44336;
    background: #f44336;
    transition: 1s; 
}

/*------- Perform Sentimental Analysis Page -----*/ 
.sub-header h1{
    top: 100px;
}
/* Add some styles to place the search form at the bottom of the website */
.search-form {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    background-color: #f0f0f0;
    width: 100%;
    text-align: center;
}

.search-form form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-form input[type="text"] {
    padding: 10px;
    margin-right: 10px; /* Add margin to create space between the input and button */
    width: 600px;
    border: 1px solid #ccc;
    border-radius: 20px;
}

.search-form button {
    background: #f44336;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}


