<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='12.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>Diet Recommendation System</title>
</head>
<body>
    <header>
        <h1>Diet Recommendation System</h1>
        <a class="dashboard-button" style="margin-right:150px" href="dash.html">Dashboard</a>
        <a class="dashboard-button" href="BMI.html">BMI</a>

    </header>

    <main>
        <form method="POST">
            <label for="age">Age (in years):</label>
            <input type="number" name="age" required><br><br>
    
            <label for="height">Height (in cm):</label>
            <input type="number" name="height" required><br><br>
    
            <label for="weight">Weight (in kg):</label>
            <input type="number" name="weight" required><br><br>
    
            <label for="gender">Gender (Male/Female):</label>
            <input type="text" name="gender" required><br><br>
    
            <label for="activity_level">Activity Level:</label>
            <select name="activity_level" required>
                <option value="Sedentary (little or no exercise)">Sedentary (little or no exercise)</option>
                <option value="Lightly active (light exercise/sports 1-3 days/week)">Lightly active (light exercise/sports 1-3 days/week)</option>
                <option value="Moderately active (moderate exercise/sports 3-5 days/week)">Moderately active (moderate exercise/sports 3-5 days/week)</option>
                <option value="Very active (hard exercise/sports 6-7 days a week)">Very active (hard exercise/sports 6-7 days a week)</option>
                <option value="Super active (very hard exercise/sports & a physical job)">Super active (very hard exercise/sports & a physical job)</option>
            </select><br><br>
    
            <label for="weight_plan">Weight Plan:</label>
            <select name="weight_plan" required>
                <option value="Maintain weight">Maintain weight</option>
                <option value="Mild weight loss">Mild weight loss</option>
                <option value="Weight loss">Weight loss</option>
                <option value="Extreme weight loss">Extreme weight loss</option>
                <option value="Mild weight gain">Mild weight gain</option>
                <option value="Weight gain">Weight gain</option>
                <option value="Rapid weight gain">Rapid weight gain</option>
            </select><br><br>
    
            <input type="submit" value="Submit">
        </form>
    </main>

    {% if final_caloric_needs %}
    <div class="caloric-needs">
        Your Daily Caloric Needs: {{ final_caloric_needs }} calories
    </div>
{% endif %}


    <h1>Recommended Recipes</h1>
    {% if recommended_recipes is not none and not recommended_recipes.empty %}
        <table class="recommended-recipes">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Calories</th>
                    <th>Protein</th>
                    <th>Carbs</th>
                    <th>Category</th>
                </tr>
            </thead>
            <tbody>
                {% for recipe in recommended_recipes.iterrows() %}
                    <tr class="recipe-item">
                        <td>{{ recipe[1]['Name'] }}</td>
                        <td>{{ recipe[1]['Calories'] }}</td>
                        <td>{{ recipe[1]['ProteinContent'] }}</td>
                        <td>{{ recipe[1]['CarbohydrateContent'] }}</td>
                        <td>{{ recipe[1]['RecipeCategory'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <script>
    {% else %}
        <p>No recipes to display.</p>
    {% endif %}
</body>
</html>