<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="style.css">

<title> Mini Project </title>
</head>
<body>
  <body>
    <div class="login-page">
      <div class="form">
        <div class="login">
          <div class="login-header">
            <h3>Home Page</h3>
            <p>Order Upto Your Heart's Content</p>
          </div>
        </div>
        
        <form class="login-form">
            <button><a href="Breakfast.html">Breakfast</button></a><br><br><br>
            <button><a href="Lunch.html">Lunch</button></a><br><br><br>
          <button><a href="Dinner.html">Dinner</button></a>
          
          <p class="message">Have any issues? <a href="Contact.html">Click here</a></p>
        </form>
      </div>
    </div>
</body>
</body>
</html>