<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyDietDiary</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='hopa.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <h1>MYDIETDIARY</h1>
            <nav>
                <a href="/ui.html" class="active">Home</a>
                <a href="/diet.html">Diet Planner</a>
                <a href="/diet.html">Body Fat Calculator</a>
                <a href="/">Dashboard</a>
            </nav>
        </header>
        <main>
            <p>"It took more than a day to put it on.<br> It will take more than a day to take it off."</p>
        </main>

    </div>
</body>
</html>