<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<title> Mini Project </title>
</head>
<body>
  <body>
    <div class="login-page">
      <div class="form">
        <div class="login">
          <div class="login-header">
            <h3>Registration Page</h3>
            <p>Register Here</p>
          </div>
        </div>
        <form action="/" method="post">
          <input type="text" placeholder="Name" name="Name"/>
          <input type="text" placeholder="Username" name="Username"/>

          <input type="password" placeholder="Password" name="Password"/>

          <br>  
          <button>Register</button>
          <!--<button>Register</button>-->
          <p class="message">Already registered? <a href="login.html">Go to Login Page</a></p>
        </form>
      </div>
    </div>
</body>

</body>
</html>