<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='ui.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Diet Recommendation System</title>

</head>
<body>
    <header>
        <h1>Welcome to Diet Recommendation System</h1>
    </header>

    <main>
        <div class="button-container">
            <a href="diet.html" class="button">
                <img src="static/bmi.jpg" alt="diet" width="50" height="50">
                <br>
                Diet Recommendation System
            </a>
            <a href="custom.html" class="button">
                <img src="static/custom.jpg" alt="custom" width="50" height="50">
                <br>
                Custom Diet Recommendation
            </a>
        </div>
    </main>
</body>
</html><!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='ui.css') }}">
    <title>Diet Recommendation Home</title>

</head>
<body>

    <div class="container">
        <h1>Welcome to Diet Recommendations</h1>

        <div class="button-container">
            <a href="C:\Users\deepak\OneDrive\Documents\Python Scripts\flaskweb\templates\1 dietpage.html" class="button">
                <img src="static/bmi.jpg" alt="bmi">
                Diet Recommendation
            </a>
            <a href="C:\Users\deepak\OneDrive\Documents\Python Scripts\flaskweb\templates\2custompage.html" class="button">
                <img src="static/custom.jpg" alt="Custom">
                Custom Diet Recommendation
            </a>
        </div>
    </div>

</body>
</html>
