{% extends "layout.html" %}

{% block nav %}
<li><a href="index.html">Home</a></li>
<li><a href="CropRecommendation.html">Crop</a></li>
<li><a href="FertilizerRecommendation.html">Fertilizer</a></li>
<li><a href="PesticideRecommendation.html" class="active">Pesticide</a></li>
{% endblock %}

{% block body %}
<br /><br />
<h2 style="text-align: center; margin: 0px; color: black">
    <b>Identified Pest: <i>mites</i></b>
</h2>

 <section>

        <div class="container">
            <h3 style="padding: 15px; background-color: rgb(0, 0, 0); color: #c79c60; font-weight: bold;"
                class="text-center my-3 content-h3">
                Recommended Products</h3>
        </div>

<div class="container">
            <div class="card-columns">
                <div class="card" style="display:inline-block;">
                    <div class="card-body text-center card-style">
                        <img style="border-radius: 5%; margin-left:5%; height:300px; width:300px;"
                             class="img-fluid" src="static/img/pesticide/mites/bioclaim.jpg" alt="bioclaim">
                      <h3 class="card-text">Dose: 220 gm/Ha</h3>
                    </div>
                </div>
                <div class="card" style="display:inline-block;">
                    <div class="card-body text-center card-style">
                        <img style="border-radius: 5%; margin-left:5%; height:300px; width:300px;"
                             class="img-fluid" src="static/img/pesticide/mites/biostadt-malathion-57-ec.jpg" alt="malathion">
                      <h3 class="card-text">Dose: 570 gm/L</h3>
                    </div>
                </div>
                <div class="card" style="display:inline-block;">
                    <div class="card-body text-center card-style">
                        <img style="border-radius: 5%;margin-left:5%; height:300px; width:300px;"
                             class="img-fluid" src="static/img/pesticide/mites/inclaim.jpg" alt="inclaim">
                        <h3 class="card-text">Dose:200 gm/Ha</h3>
                    </div>
                </div>
                <div class="card" style="display:inline-block;">
                    <div class="card-body text-center card-style">
                        <img style="border-radius: 5%; margin-left:5%; height:300px; width:300px;"
                             class="img-fluid" src="static/img/pesticide/mites/ingage.jpg" alt="ingage">
                      <h3 class="card-text">Dose: 600 gm/Ha</h3>
                    </div>
                </div>
            </div>
    </section>

{% endblock %}